@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
html {
    font-family: serif, Helvetica, Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tone-color: #596D48;
}

main {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr, 1fr, 1fr;
    width: 100vw;
    height: 100vh;
}

.div1 {
    background-color: rgb(13, 251, 251);
    grid-column: 1/2;
    grid-row: 1/5;
    background-image: url("img/beach.jpg");
    background-size: cover;
}

.div2 {
    background-color: rgb(164, 101, 222);
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: #f3f2ef;
}

.div3 {
    background-color: rgb(68, 187, 68);
    grid-column: 2/4;
    grid-row: 2/4;
    background-color: white;
}

.div4 {
    background-color: rgb(149, 15, 113);
    grid-column: 2/4;
    grid-row: 4/5;
    background-color: #f3f2ef;
}

.logo {
    height: 8rem;
    background-color: rgb(29, 30, 30, 0.5);
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    padding-top: 3rem;
    font-weight: 900;
    font-size: larger;
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

button {
    margin-top: 1rem;
    margin-right: 4rem;
    margin-left: 2rem;
    background-color: var(--tone-color);
    color: white;
    border: 0px;
    height: 2rem;
    width: 10rem;
    border-radius: 7px;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 70px;
}

.wrapper>div {
    width: 13rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    color: var(--tone-color);
}

.div3 h3 {
    padding-top: 1rem;
    padding-left: 2rem;
}
.div2 h3 { 
    padding-top: 1.5rem;
    padding-left: 2rem;
 }

.div4 p {
    padding-top: 2rem;
    padding-left: 2rem;
}

input:focus {
    outline: none !important;
    border: 1px solid blue;
    box-shadow: 0 0 10px #719ECE;
}

span {
    color: red;
    font-size: small;
}

.image {
    height: 70px;
    width: 70px;
}

label {
    color: rgb(50, 49, 49);
}

@media only screen and (max-width: 600px) {

    main {
        display: grid;
        grid-template-rows: repeat(6, 150px);
        grid-template-columns: fit-content(auto) fit-content(auto) fit-content(auto);
    }

    .div1 {
        background-color: rgb(13, 251, 251);
        grid-column: 1/-1;
        grid-row: 1/3;
        background-image: url("img/beach.jpg");
        background-size: cover;
    }

    .div2 {
        background-color: rgb(164, 101, 222);
        grid-column: 1/-1;
        grid-row: 3/4;
        background-color: #f3f2ef;
    }

    .div3 {
        background-color: rgb(68, 187, 68);
        grid-column: 1/-1;
        grid-row: 4/6;
        background-color: white;
    }

    .div4 {
        background-color: rgb(149, 15, 113);
        grid-column: 1/-1;
        grid-row: 6/-1;
        background-color: #f3f2ef;
    }
}